*{
    margin: 0;
    padding: 0;
}

.kutch{
    display: flex;
}

.kutch1{
    padding: 40px;
}
.kutch1 img{
    width: 450px;
    border-radius: 10px;
}
.kutch1 div.c-name{
    padding-top: 10px;
    font-size: 34px;
    color: rgb(17, 87, 121);
    font-weight: bold;
}
.kutch1 p.c-name{
    padding-top: 10px;
    max-width: 500px;
    color: rgb(17, 87, 121);
    font-weight: 500;
}

p.include{
    padding-top: 10px;
    font-size: 34px;
    color: rgb(17, 87, 121);
    font-weight: bold;
    padding-left: 50px;
}

p.i-list ul li{
    padding-top: 20px;
    list-style: none;
    padding-left: 20px;
    font-size: 18px;
}

.kutch3{
    margin-left: 150px;
}

.kutch3 img{
    width: 450px;
    margin-top: 40px;
    margin-left: 50px;
    border-radius: 50%;
}

div.c-day{
    margin-left: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

p.days{
    padding-top: 10px;
    font-size: 30px;
    color: rgb(17, 87, 121);
    font-weight: bold;
}

div.day1,div.day2,div.day3,div.day4,div.day5{
    font-size: 14px;
    font-weight: 500;
    padding-top: 15px;
}

p.place{
    padding: 0px;
    padding-left: 20px;
    padding-top: 5px;
    color: rgb(17, 87, 121);
}